table {
  margin-top: 25px}

.center {
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  width: 960px;
  height: 960px;}

.name {
  width: 200px;}
.label {
  font-size: 15px;
  alignment-baseline: middle;}


/* Film List Shading */ 
td.watched {
  ackground-color: #99B4BF;}
td.watched a {
  color: #2E3957;}
td.watched a:hover {
  color: #7b6888;}


/* Venn Diagrams */
.venntooltip {
  position: absolute;
  text-align: center;
  background: #333;
  color: #ddd;
  padding: 5px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;}
#venn text, #venn tspan {
  user-select: none;
  z-index:-5000}
#m-intersects button {
  margin:3px;}
#m-intersects button .badge {
  margin-left:3px;}


/* Award Tables */
section#awards table {
  table-layout: fixed;}
section#awards thead.throtate th {
  vertical-align: bottom;
  text-align: center;}
section#awards thead.throtate th span {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;}
section#awards .award {
  width: 45px;
  height: 45px;
  background-size: cover;
  display:inline-block;}
section#awards button {
  text-align: center;}
section#awards button .award {
  margin-bottom:5px;}
section#awards.oscar .award {
  background-image: url(https://jacobmgreer.github.io/Film-Tracker/Oscars/oscar.svg);}
section#awards.nbr .award {
  background-image: url(https://jacobmgreer.github.io/Film-Tracker/nbrfilm/ticket-perforated.svg);}
section#awards .award1 {/* 0% */
  filter: invert(47%) sepia(53%) saturate(313%) hue-rotate(160deg) brightness(89%) contrast(89%);}
section#awards .award2 {/* 1-30% */
  filter: invert(66%) sepia(59%) saturate(6085%) hue-rotate(351deg) brightness(99%) contrast(92%);}
section#awards .award3 {/* 31-60% */
  filter: invert(64%) sepia(82%) saturate(1033%) hue-rotate(342deg) brightness(98%) contrast(93%);}
section#awards .award4 {/* 61-100% */
  filter: invert(90%) sepia(45%) saturate(809%) hue-rotate(348deg) brightness(97%) contrast(96%);}
section#awards .award5 {/* 100% */
  filter: invert(79%) sepia(12%) saturate(1239%) hue-rotate(77deg) brightness(86%) contrast(85%);}