<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Fin.</a>
    </p>
    <p class="mb-1">Jacob loves watching movies and tracking film history!</p>
    <p class="mb-0">This project lovingly uses Github: Projects for project management, Actions for automation, and Pages for hosting.</p>
    <p class="mb-0">
      These javascript/css pages use JQuery, Bootstrap, D3, underscore, 
      D3-scale-radial, d3-array, and d3-geo-projection libraries.
    </p>
    <p class="mb-0">
      These datasets are created from a variety of sources with R and Sparql in RStudio using 
        tidyverse, SuperExactTest, jsonlite, magrittr, glue, qdapRegex, 
        httr, lubridate, rvest, janitor, naniar, UpSetR, ggthemes, scales, numform.
    </p>
  </div>
</footer>