<footer class="text-muted py-5 bg-light">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Fin.</a>
    </p>
    <p class="mb-1">Jacob loves watching movies and tracking film history!</p>
    <p class="mb-0">
      These projects are lovingly hosted on <a href="https://github.com/jacobmgreer">Github</a>: using Projects, Actions, and Pages.
    </p>
    <p class="mb-0">
      Visualizations use 
        <a href="https://jquery.com">jQuery</a>, 
        <a href="https://getbootstrap.com">Bootstrap</a>, 
        <a href="https://d3js.org">D3</a>, 
        <a href="https://underscorejs.org">underscore</a>, 
        <a href="http://benfred.github.io/venn.js/">Venn.js</a>,
        <a href="https://github.com/d3/d3-scale">D3-scale</a>, 
        <a href="https://github.com/d3/d3-array">D3-array</a>, and 
        <a href="https://github.com/d3/d3-geo-projection">D3-geo-projection</a> libraries.
    </p>
    <p class="mb-0">
      These datasets are created from a variety of sources with 
        <a href="https://www.r-project.org">R</a> and Sparql in 
        <a href="https://posit.co/download/rstudio-desktop/">RStudio</a> 
        relying on the following libraries 
        <a href="https://www.tidyverse.org">tidyverse</a>, 
        <a href="https://cran.r-project.org/web/packages/SuperExactTest/index.html">SuperExactTest</a>, 
        <a href="https://cran.r-project.org/web/packages/jsonlite/index.html">jsonlite</a>, 
        <a href="https://magrittr.tidyverse.org">magrittr</a>, 
        <a href="https://glue.tidyverse.org">glue</a>, 
        <a href="https://cran.r-project.org/web/packages/qdapRegex/index.html">qdapRegex</a>, 
        <a href="https://cran.r-project.org/web/packages/httr/index.html">httr</a>, 
        <a href="https://lubridate.tidyverse.org">lubridate</a>,
        <a href="https://rvest.tidyverse.org">rvest</a>,
        <a href="https://cran.r-project.org/web/packages/janitor/index.html">janitor</a>, 
        <a href="https://naniar.njtierney.com">naniar</a>, 
        <a href="https://cran.r-project.org/web/packages/UpSetR/index.html">UpSetR</a>, 
        <a href="https://scales.r-lib.org">scales</a>, 
        <a href="https://cran.r-project.org/web/packages/numform/index.html">numform</a>.
    </p>
  </div>
</footer>