<footer class="text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Cinophile</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://github.com/jacobmgreer">Jacob Greer</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Language</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://www.r-project.org">R</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">R IDE</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://posit.co/download/rstudio-desktop/">RStudio</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Design Framework</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://getbootstrap.com">Bootstrap</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">SPARQL Queries</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://query.wikidata.org">Wikidata Query Service</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Record Linkage, R</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://github.com/kosukeimai/fastLink">fastLink</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Text Editor</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://www.sublimetext.com">Sublime Text</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Javascript Libraries</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://jquery.com">jQuery</a></p>
        <p class="text-start text-uppercase"><a href="https://d3js.org">D3</a></p>
        <p class="text-start text-uppercase"><a href="https://underscorejs.org">underscore</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Stacked Radials, JS</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://github.com/d3/d3-scale">D3-scale</a></p>
        <p class="text-start text-uppercase"><a href="https://github.com/d3/d3-array">D3-array</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Maps, JS</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://github.com/d3/d3-geo-projection">D3-geo-projection</a></p>
        <p class="text-start text-uppercase"><a href="https://github.com/martynafford/natural-earth-geojson">Natural Earth GeoJSON</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Maps, R</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://cran.r-project.org/web/packages/sf/index.html">Simple Features</a></p>
        <p class="text-start text-uppercase"><a href="https://cran.r-project.org/web/packages/geojsonsf/index.html">GeoJSON sf</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Venn Diagrams, JS</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="http://benfred.github.io/venn.js/">Venn.js</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Venn Diagrams, R</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://cran.r-project.org/web/packages/SuperExactTest/index.html">SuperExactTest</a></p>
        <p class="text-start text-uppercase"><a href="https://cran.r-project.org/web/packages/UpSetR/index.html">UpSetR</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Data Manipulation, R</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://www.tidyverse.org">tidyverse</a></p>
        <p class="text-start text-uppercase"><a href="https://magrittr.tidyverse.org">magrittr</a></p>
        <p class="text-start text-uppercase"><a href="https://cran.r-project.org/web/packages/janitor/index.html">janitor</a></p>
        <p class="text-start text-uppercase"><a href="https://scales.r-lib.org">scales</a></p>
        <p class="text-start text-uppercase"><a href="https://lubridate.tidyverse.org">lubridate</a></p>
        <p class="text-start text-uppercase"><a href="https://cran.r-project.org/web/packages/jsonlite/index.html">jsonlite</a></p>
        <p class="text-start text-uppercase"><a href="https://naniar.njtierney.com">naniar</a></p>
        <p class="text-start text-uppercase"><a href="https://rvest.tidyverse.org">rvest</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Page Hosting</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://github.com/jacobmgreer/Film-Tracker">Github Pages</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Automation</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://github.com/jacobmgreer/Nitrate-Actions">Github Actions</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Task Management</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://github.com/users/jacobmgreer/projects/1">Github Projects</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col"><p class="text-end text-lowercase fw-lighter">Film Sources</p></div>
      <div class="col">
        <p class="text-start text-uppercase"><a href="https://imdb.com">IMDb</a></p>
        <p class="text-start text-uppercase"><a href="https://wikidata.com">Wikidata</a></p>
        <p class="text-start text-uppercase"><a href="https://eidr.org">EIDR</a></p>
        <p class="text-start text-uppercase"><a href="https://www.loc.gov/research-centers/moving-image/about-this-research-center/">Moving Image Research Center</a></p>
      </div>
    </div>
    <div class="row"><h1 class="text-center display-4"><a href="#">Fin.</a></h1></div>
  </div>
</footer>
