<meta http-equiv="cache-control" content="no-cache"> 
<meta http-equiv="expires" content="0"> 
<meta http-equiv="pragma" content="no-cache">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-32906329-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-32906329-1');
</script>

<script src="https://jacobmgreer.github.io/Film-Tracker/js/jquery.min.js"></script>
<script src="https://jacobmgreer.github.io/Film-Tracker/js/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://underscorejs.org/underscore-min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-array@3"></script>
<script src="https://jacobmgreer.github.io/Film-Tracker/js/d3-scale-radial.js"></script>

<link rel="stylesheet" href="https://jacobmgreer.github.io/Film-Tracker/js/bootstrap/css/bootstrap.min.css">

<style>
table {
  margin-top:25px}
.center {
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;}
#tooltip.center {
  top: 705px;}
.center h3, .center h1 {
  text-align: center; 
  font-size:18px;}
.center h1 {
  font-size:50px;}
  
.name {
  width:200px;}
.label {
  font-size:15px;
  alignment-baseline:middle;}
#spacer,#legend,#venn {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  height:60px;}
</style>