<nav class="navbar navbar-expand navbar-light" style="background-color: #97A69B;">
  <div class="justify-content-center container-fluid">
    <a class="navbar-brand" href="https://jacobmgreer.github.io/Film-Tracker/">Film Tracker</a>
  </div>
</nav>

<nav class="navbar navbar-expand navbar-light" style="background-color: #97A69B;">
  <div class="justify-content-center container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link disabled">Academy Awards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/Film-Tracker/Oscars">Ceremony Scorecard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/Film-Tracker/Oscars/AwardScorecard/">Award Scorecard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/Film-Tracker/OscarsPlanet">International Submissions</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand navbar-light" style="background-color: #97A69B;">
  <div class="justify-content-center container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link disabled">National Board of Review</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" href="https://jacobmgreer.github.io/Film-Tracker/nbrfilm">Ceremony Scorecard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/Film-Tracker/nbrfilm/AwardScorecard/">Award Scorecard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">New York Times</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/Film-Tracker/NYT1000">1,000 Essential Films</a>
      </li>
    </ul>
  </div>
</nav>