<nav class="navbar">
  <div class="container-fluid">
    <ul class="nav nav-pills lead">
      <li class="nav-item">
        <a href="https://jacobmgreer.github.io" title="go to homepage" class="nav-link" rel="noopener noreferrer"><i class="bi bi-record-circle-fill"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/jakeob" title="go to instagram" class="nav-link" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/jacobmgreer" title="go to github" class="nav-link" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar">
  <div class="container-fluid">
    <ul class="nav nav-pills lead">
      <li class="nav-item">
        <a href="https://jacobmgreer.github.io/NickelodeonAndDimed/" style="color: #4C7399" class="nav-link">Nickelodeon & Dimed</a>
      </li>
      <li class="nav-item">
        <a href="https://jacobmgreer.github.io/Pin-Cushion/" class="nav-link">Pin-Cushion</a>
      </li>
      <li class="nav-item">
        <a href="https://jacobmgreer.github.io/Great-Procreations/" class="nav-link">Great Procreations</a>
      </li>
    </ul>
  </div>
</nav>
<section id="header">
  <div class="justify-content-center container-fluid">
      <h1 class="text-center display-1">Nickelodeon & Dimed</h1>
      <h6 class="text-center display-6">armchair critiques and the unruling of film criticism</h6>
  </div>      
</section>
<nav class="navbar navbar-expand nav2">
  <div class="justify-content-center container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link disabled">Stacked Radials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/NickelodeonAndDimed/StackedRadials/AMPAS">AMPAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/NickelodeonAndDimed/StackedRadials/AMPAS-INTL">AMPAS-International</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/NickelodeonAndDimed/StackedRadials/NBR">NBR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/NickelodeonAndDimed/StackedRadials/NYT1000">NYT-1000</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand nav2">
  <div class="justify-content-center container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link disabled">Interactive Award Scorecards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/NickelodeonAndDimed/AwardScorecards/AMPAS">AMPAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/NickelodeonAndDimed/AwardScorecards/NBR">NBR</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand nav2">
  <div class="justify-content-center container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link disabled">Analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/NickelodeonAndDimed/VennDiagram">Venn Diagram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://jacobmgreer.github.io/NickelodeonAndDimed/Geographies/">AMPAS-International</a>
      </li>
    </ul>
  </div>
</nav>
